In [0]:
%run ./Connection

Adls_raw_path : abfs://bronze@nycdbda.dfs.core.windows.net/
Adls_silver_path : abfs://silver@nycdbda.dfs.core.windows.net/

In [0]:
data1 = spark.read.csv(f"{Adls_raw_path}/Parking_Violations_Issued_Fiscal_Year_2020.csv",header='True').fillna('')
data2 = spark.read.csv(f"{Adls_raw_path}/Parking_Violations_Issued_Fiscal_Year_2021.csv",header='True').fillna('')
data3 = spark.read.csv(f"{Adls_raw_path}/Parking_Violations_Issued_Fiscal_Year_2022.csv",header='True').fillna('')
data4 = spark.read.csv(f"{Adls_raw_path}/Parking_Violations_Issued_Fiscal_Year_2023.csv",header='True').fillna('')
data5 = spark.read.csv(f"{Adls_raw_path}/Parking_Violations_Issued_Fiscal_Year_2024.csv",header='True').fillna('')

In [0]:
data = data1.union(data2).union(data3).union(data4).union(data5)

In [0]:
nyc = data.toDF(*(col.replace(" ","_") for col in data.columns))
nyc.createOrReplaceTempView("data")
# data.count()

In [0]:
nyc_columns = spark.sql("""SELECT DISTINCT Summons_Number,Plate_ID,Registration_State,Plate_Type,
                         LEFT(replace(Issue_Date,'/','') ,8) AS Issue_Date,Violation_Code,
                         Vehicle_Body_Type,Vehicle_Make,Issuer_Precinct,Issuer_Code,
                         Violation_Time,Violation_County
                         FROM nyc""")

In [0]:
#Converting Issued_Date column string datatype to date datatype 
from pyspark.sql.functions import *
nyc = nyc_columns.withColumn("Issue_Date", to_date('Issue_Date','MMddyyyy'))

In [0]:
nyc.createOrReplaceTempView("data")

In [0]:
#Extracting data for fiscal year 2019-06-01 to 2024-01-15
nyc = spark.sql(f"""
                    SELECT * FROM data WHERE Issue_Date >= '2019-06-01' AND Issue_Date <= '2024-01-15'
                 """)

In [0]:
nyc.count()

27507503

In [0]:
nyc.show()

+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+---------------+-----------+--------------+----------------+
|Summons_Number|Plate_ID|Registration_State|Plate_Type|Issue_Date|Violation_Code|Vehicle_Body_Type|Vehicle_Make|Issuer_Precinct|Issuer_Code|Violation_Time|Violation_County|
+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+---------------+-----------+--------------+----------------+
|    1447620008|  83ST36|                NY|       MOT|2019-06-01|            24|                 |       TRIUM|            835|        317|         0445P|               Q|
|    1447619997|  JFVI75|                FL|       PAS|2019-06-01|            24|              VAN|        CHRY|            835|        317|         1115P|               Q|
|    1447619961| IAMBEAN|                NY|       SRF|2019-06-01|            24|             SUBN|        JEEP|            835|        317|         1105A|               Q|
|    1447627453| KWG0481|                PA|       PAS|2019-06-01|            83|             SUBN|        FORD|            835|        107|         1218A|               Q|
|    4011389225|T739436C|                NY|       OMT|2019-06-01|             5|             SUBN|       HONDA|              0|          0|         0911P|              QN|
|    1447636521| CBZJ932|                TX|       PAS|2019-06-01|            24|              SDN|       ACURA|            835|        670|         0500P|               Q|
|    1414351197| JHN9131|                NY|       PAS|2019-06-01|            71|              SDN|       CHEVR|            835|         24|         0325P|               K|
|    1447619985|  6JX427|                NY|       PAS|2019-06-01|            24|              SDN|        HYUN|            836|        310|         1105A|               Q|
|    1447636545| HZH7069|                NY|       PAS|2019-06-01|            24|             SUBN|       NISSA|            835|        670|         0510P|               Q|
|    1447620033|  83ST36|                NY|       MOT|2019-06-01|            62|                 |            |            835|        317|         0445P|               Q|
|    4011389201| SUBIBOY|                NY|       SRF|2019-06-01|             5|             SUBN|       SUBAR|              0|          0|         0619P|              BK|
|    1447620010|  B3ST36|                NY|       MOT|2019-06-01|            74|                 |       TRIUM|            835|        317|         0445P|               Q|
|    4011389213| GSN9609|                NY|       PAS|2019-06-01|             5|             SUBN|       ACURA|              0|          0|         0810P|              MN|
|    1447635942| HRH4627|                NY|       PAS|2019-06-01|            24|             SUBN|       HYUND|            835|        118|         1116A|               Q|
|    1447636557| HZZ5485|                NY|       PAS|2019-06-01|            24|             SUBN|       MITSU|            835|        670|         0515P|               Q|
|    1447627430| FFW3298|                NY|       PAS|2019-06-01|            20|              SDN|       TOYOT|            835|        107|         1203A|               Q|
|    1447629875| GMJ3129|                NY|       PAS|2019-06-01|            24|              SDN|       HONDA|            835|        421|         0325P|                |
|    1447636533| JBX7791|                NY|       PAS|2019-06-01|            24|              SDN|       HONDA|            835|        670|         0505P|               Q|
|    1440069724| HYU9924|                NY|       PAS|2019-06-01|            46|             SUBN|       NISSA|            121|     956959|         1125A|               R|
|    1447627441| KWG0481|                PA|       PAS|2019-06-01|            20|              SDN|        FORD|            835|        107|         1209A|               Q|
+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+---------------+-----------+--------------+----------------+
only showing top 20 rows

In [0]:
#checking null values
from pyspark.sql.functions import col

for i in nyc.columns:
    print(i,(20-len(i))*"-",((nyc.filter(nyc[i].isNull()).count())/nyc.count())*100)

Summons_Number ------ 0.0
Plate_ID ------------ 0.0
Registration_State -- 0.0
Plate_Type ---------- 0.0
Issue_Date ---------- 0.0
Violation_Code ------ 0.0
Vehicle_Body_Type --- 0.0
Vehicle_Make -------- 0.0
Issuer_Precinct ----- 0.0
Issuer_Code --------- 0.0
Violation_Time ------ 0.0
Violation_County ---- 0.0

In [0]:
#Dropping null values from data 
nyc = nyc.na.drop()

In [0]:
# Check for the number of rows 
nyc.count()

27507503

In [0]:
#Replacihg the state named 99 with NY, as NY has the maximum violations.

nyc = nyc.withColumn('Registration_State', regexp_replace('Registration_State', '99', 'NY'))

In [0]:
#Removing the rows containing value as BLANKPLATE for plate_id 
nyc = nyc[nyc.Plate_ID != 'BLANKPLATE']

In [0]:
#Removing the rows containing value as 999 for plate_id 
nyc = nyc[nyc.Plate_ID != '999']

In [0]:
#Codes other than those between 1 and 99 are invalid so removing rows with 0 as violation code
nyc = nyc[nyc.Violation_Code != 0 ]

In [0]:
#Issuing Precinct having invalid entry So removing from columns
nyc = nyc[nyc.Issuer_Precinct != 0 ]

In [0]:
from pyspark.sql.functions import col, when, unix_timestamp

# Extracting hours, minutes, and AM/PM values from Violation Time column
nyc = nyc.withColumn("violation_hour", col("Violation_Time").substr(1,2).cast("int"))
nyc = nyc.withColumn("violation_minutes", col("Violation_Time").substr(3,2).cast("int"))
nyc = nyc.withColumn("violation_ampm", col("Violation_Time").substr(5,1))

# Converting AM/PM time to absolute hours ranging from 0-23
nyc = nyc.withColumn("violation_hour", 
                   when((col("violation_hour") == 12) & (col("violation_ampm") == 'A'), 0)
                   .when((col("violation_hour") != 12) & (col("violation_ampm") == 'P'), col("violation_hour") + 12)
                   .otherwise(col("violation_hour")))

# After extracting the information, these columns are not required and hence dropped
nyc = nyc.drop("Violation_Time", "violation_ampm")

# Printing the schema now
nyc.printSchema()

root
 |-- Summons_Number: string (nullable = false)
 |-- Plate_ID: string (nullable = false)
 |-- Registration_State: string (nullable = false)
 |-- Plate_Type: string (nullable = false)
 |-- Issue_Date: date (nullable = true)
 |-- Violation_Code: string (nullable = false)
 |-- Vehicle_Body_Type: string (nullable = false)
 |-- Vehicle_Make: string (nullable = false)
 |-- Issuer_Precinct: string (nullable = false)
 |-- Issuer_Code: string (nullable = false)
 |-- Violation_County: string (nullable = false)
 |-- violation_hour: integer (nullable = true)
 |-- violation_minutes: integer (nullable = true)

In [0]:
nyc.count()

15559573

In [0]:
nyc.show()

+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+---------------+-----------+----------------+--------------+-----------------+
|Summons_Number|Plate_ID|Registration_State|Plate_Type|Issue_Date|Violation_Code|Vehicle_Body_Type|Vehicle_Make|Issuer_Precinct|Issuer_Code|Violation_County|violation_hour|violation_minutes|
+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+---------------+-----------+----------------+--------------+-----------------+
|    1455214498| HMW4232|                NY|       PAS|2019-06-03|            20|              SDN|       SUBAR|              1|     160474|              NY|            18|               38|
|    1446885938| 71639MM|                NY|       COM|2019-06-04|            14|              VAN|        KERB|              1|     160491|              NY|            15|               28|
|    1455244922| DAX8354|                NY|       PAS|2019-06-07|            14|             SUBN|       CHEVR|              1|     160638|              NY|            12|               17|
|    1455273119| JDM9428|                NY|       PAS|2019-06-08|            50|              SDN|       NISSA|              4|     160425|               K|            17|               22|
|    1453307898| HZD7219|                NY|       PAS|2019-06-09|            27|              SDN|       HONDA|              2|     160283|              BX|             5|               47|
|    1455241106| FEE9763|                NY|       PAS|2019-06-09|            98|              SDN|       HONDA|              1|     160347|              NY|            10|               41|
|    1424793300| 90446MK|                NY|       OMT|2019-06-10|            78|             DELV|       CHEVR|            105|     925323|                |             2|               10|
|    1449833433|T716549C|                NY|       999|2019-06-11|            46|              SDN|       TOYOT|             77|     957552|               K|             3|               15|
|    1446995331| FDY1707|                NY|       PAS|2019-06-11|            53|             SUBN|       ME/BE|              1|     160670|              NY|             9|                6|
|    1403552332| 4EXA227|                CA|       PAS|2019-06-11|            19|              VAN|       VOLKS|            120|     962705|               R|            21|                4|
|    1449603270| HYB5425|                NY|       PAS|2019-06-11|            40|              SDN|       DODGE|             30|     954738|               K|            22|               40|
|    1447515158| JGX6840|                NY|       PAS|2019-06-11|            50|             SUBN|       NISSA|            120|     961466|               R|            16|               43|
|    1459038939| 56266MG|                NY|       COM|2019-06-12|            51|              VAN|       FRUEH|            401|     927706|               K|            10|                0|
|    1458944335| 0007AFD|                NY|       PAS|2019-06-12|            64|              VAN|       TOYOT|            401|     894955|              NY|            11|               53|
|    1447683067|  VSE371|                NY|       PAS|2019-06-12|            20|              SDN|       CHRYS|            839|     111129|              NY|            15|               10|
|    1414566761| 86528MC|                NY|       COM|2019-06-12|            46|             COMT|       ISUZU|            982|     600164|              BX|            11|               14|
|    1459052808| 74895PC|                NY|       COM|2019-06-13|            46|             DELV|       INTER|            401|     959394|              NY|            11|               10|
|    1459059803|  XGCX81|                NJ|       PAS|2019-06-13|            14|              P-U|       ISUZU|            401|     923774|               K|            11|                7|
|    1454369619|  XGSG87|                NJ|       PAS|2019-06-13|            46|             DELV|            |            401|     934307|                |             9|               44|
|    1452215297| 44091MA|                NY|       COM|2019-06-13|            78|             DELV|       ISUZU|            101|     944711|               Q|            22|               17|
+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+---------------+-----------+----------------+--------------+-----------------+
only showing top 20 rows

In [0]:
nyc.write.format("delta").mode('overWrite').option('overwriteSchema', 'true').save(f"{Adls_silver_path}/finalnyc/nycparking/track2/")